body{
  background-color: darkcyan
}

a{
    background-color: red
}

.claseluis{
   width: 800px;
    height: 80px;
    border: 10px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center; 
}

#divisorluis{
    width: 800px;
    height: 80px;
    border: 10px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center; 
}